
.s{
    background-image: url('Q.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    document.getElementById("myDiv").style.border = "thick solid #0000FF";
}
.h{
    text-align:center;
    color:rgb(155, 92, 218);
    font-size:300%;
    background-image:<div style="background-image: url('img_2.jpg');">
}
.R{
    text-align:left;
    color:rgb(231, 25, 10);
    font-size:150%;
}
.A{
    text-align: right;
    color:crimson;
    font-size:150%;
    ;
}
.B{
    text-align: left;
    color:rgb(75, 22, 75);
    font-size:150%;
}
.C{
    text-align: right;
    color:rgb(18, 13, 61);
    font-size: 150%;
}
.D{
    text-align: right;
    color:rgb(12, 44, 42);
    font-size: 150%;
}

